---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post__title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.path %}
    <a href="//github.com/marcelocarmona/Front-end-Developer-Interview-Questions/blob/master/{{ page.path }}">
      Edit this question on GitHub
    </a>
    {% endif %}
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
    <h1><a href="javascript:toggleSolution();">Solution</a></h1>
    <section id="solution-section">
        {% if page.next.path %}
        <a href="//github.com/marcelocarmona/Front-end-Developer-Interview-Questions/blob/master/{{ page.next.path }}">
          Edit this solution on GitHub
        </a>
        {% endif %}
      {{ page.next | markdownify }}
    </section>
  </div>

</article>

<script>
  var solution = document.querySelector('#solution-section');
  solution.style.display = 'none';

  function toggleSolution() {
    solution.style.display == 'none'
        ? solution.style.display='block'
        : solution.style.display='none';
  }
</script>
